<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>inscription</title>
</head>
<body>
	<form action="/getForm" method="post">
		<label for="username"> username </label>
		<input type="text"  placeholder="Enter username" name="username"  />
		<label for="password"> password </label>
		<input type="password"  placeholder="Enter password"  name="password" />
		<label for="phone_number"> phone number </label>
		<input type="text"  placeholder="Enter phone number" name="email"  />
		<input type="submit" value="Valider" />
		
		
		
	</form>

</body>
</html>