<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<form action="/getForm" method="post">
		<label for="username"> username </label>
		<input type="text"  placeholder="Enter username" name="username"  /> <br />
		
		<label for="password"> password </label>
		<input type="password"  placeholder="Enter password"  name="password" /> <br />
		
		<label for="phone_number"> phone number </label>
		<input type="text"  placeholder="Enter phone number" name="email"  /> <br />
		
		<label for="phone_number"> email </label>
		<input type="email"  placeholder="Enter email" name="email"  /> <br />
		
		<input type="submit" value="Valider" />
		
		
		
</form>

</body>
</html>