<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="form_employee" method="post">
<label for="firstName">firstName</label>	
<input type="text" name="firstName" id="firstName" />
<label for="lastName">lastName</label>	
<input type="text" name="lastName" id="lastName" />
<label for="department">department</label>	
<input type="department" name="department" id="department" />
<label for="salary">salary</label>	
<input type="text" name="salary" id="salary" />
<label for="phone">phone</label>	
<input type="text" name="phone" id="phone" />

<label for="job">job</label>	
<input type="text" name="job" id="job" />
<input type="submit" value="Confirmer" />
	
	
	
</form>
</body>
</html>